[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
EnvironmentFile=/etc/ebpf-vpc/runner-config.env
ExecStart=/usr/local/bin/cloudflared tunnel run --token ${CLOUDFLARE_TUNNEL_TOKEN}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
