---
- name: Disable Root SSH Login
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
    validate: 'sshd -t -f %s'
  notify: Restart sshd

- name: Configure Sudoers for CI Runner (fedora user)
  copy:
    dest: /etc/sudoers.d/ci-runner
    content: "fedora ALL=(ALL) NOPASSWD: ALL"
    mode: '0440'
    validate: 'visudo -cf %s'

- name: Find other sudoers files
  find:
    paths: /etc/sudoers.d
    patterns: '*'
    excludes: 'ci-runner'
  register: sudoers_files

- name: Remove other sudoers files
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ sudoers_files.files }}"
  when: sudoers_files.matched > 0

- name: Install Firewall Lockdown Script
  template:
    src: firewall-lockdown.sh.j2
    dest: /usr/local/bin/firewall-lockdown.sh
    mode: '0755'

- name: Install Firewall Lockdown Service
  template:
    src: firewall-lockdown.service.j2
    dest: /etc/systemd/system/firewall-lockdown.service
    mode: '0644'

- name: Enable Firewall Lockdown Service
  systemd:
    name: firewall-lockdown.service
    enabled: true
    daemon_reload: true