---
- name: Disable CPU C-States and P-States for Benchmarking
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX_DEFAULT='
    line: 'GRUB_CMDLINE_LINUX_DEFAULT="quiet splash intel_idle.max_cstate=0 processor.max_cstate=1 idle=poll"'
  notify: Update Grub

handlers:
  - name: Update Grub
    ansible.builtin.command: grub2-mkconfig -o /boot/grub2/grub.cfg
